.item {
	width: fit-content;
	border-radius: 1.5rem;
	background-color: rgb(243 244 246);
	padding: 1rem 1.5rem;
	min-width: 250px;
	flex-grow: 1;
}

.item-header {
	width: 100%;
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.75rem;
	text-align: center;
}